###> Symfony Standard ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/*.php
/config/secrets/*.key
/public/bundles/
/var/
/vendor/
###< Symfony Standard ###

###> PHPUnit ###
/phpunit.xml
.phpunit.result.cache
###< PHPUnit ###

###> IDE & OS ###
.idea/
.vscode/
.DS_Store
Thumbs.db
###< IDE & OS ###

###> Divers ###
/public/build/
/node_modules/
npm-debug.log
yarn-error.log